# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py~

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# Flask instance folder (for config, uploads, etc.)
instance/

# Flask environment variables
.env
.env.*

# Database files
*.sqlite
*.db
*.sqlite3

# Log files
*.log

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
