{% extends "base_game.html" %}

{% block title %}Picture Match Game{% endblock %}

{% block game %}
<div class="container py-4">
    <div id="question-container" class="card mb-4 border-primary">
        <div class="card-body text-center p-4">
            <h2 id="question" class="click-to-speak"></h2>
            <div class="mx-auto" style="max-width: 300px;">
                <div id="question-image" class="my-4"></div>
            </div>
        </div>
    </div>
    <div class="row g-3" id="options-container">
    </div>
    <div id="feedback" class="alert text-center mt-4"s></div>
</div>
{% endblock %}