<audio id="audio-next" src="{{ url_for('static', filename='audio/next.mp3') }}" preload="auto"></audio>
<audio id="audio-false" src="{{ url_for('static', filename='audio/false.mp3') }}" preload="auto"></audio>
<audio id="audio-true" src="{{ url_for('static', filename='audio/true.mp3') }}" preload="auto"></audio>
<audio id="audio-scare" src="{{ url_for('static', filename='audio/scare.mp3') }}" preload="auto"></audio>
<audio id="audio-applause" src="{{ url_for('static', filename='audio/applause.mp3') }}" preload="auto"></audio>

<audio id="audio-backsound" controls class="d-none"></audio>
<audio id="audio-speech" controls class="d-none"></audio>
