<audio id="audio-click" src="{{ url_for('static', filename='audio/click.mp3') }}" preload="auto"></audio>
<audio id="audio-false" src="{{ url_for('static', filename='audio/false.mp3') }}" preload="auto"></audio>
<audio id="audio-true" src="{{ url_for('static', filename='audio/true.mp3') }}" preload="auto"></audio>
<audio id="audio-scare" src="{{ url_for('static', filename='audio/scare.mp3') }}" preload="auto"></audio>
<audio id="audio-ding" src="{{ url_for('static', filename='audio/ding.mp3') }}" preload="auto"></audio>
<audio id="audio-applause" src="{{ url_for('static', filename='audio/applause.mp3') }}" preload="auto"></audio>
<audio id="audio-next-level" src="{{ url_for('static', filename='audio/next-level.mp3') }}" preload="auto"></audio>
<audio id="audio-speech" controls class="d-none"></audio>
