<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5><i class="fas fa-child-reaching me-2"></i>LearnWithNasya</h5>
            <p class="mb-0">Fun English learning games for kids</p>
        </div>
        <div class="col-md-6 text-md-end">
            <p class="mb-0">&copy; 2023 LearnWithNasya. All rights reserved.</p>
            <div class="mt-2">
                <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>
