{% extends "base_game.html" %}


{% block title %}Choose Word to Answer{% endblock %}


{% block game %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <!-- Main Game Card -->
            <div class="card shadow-sm mb-4">
                <!-- Question Container -->
                <div id="question-container" class="card-body text-center py-4">
                    <h2 id="question" class="card-title click-to-speak mb-4"></h2>
                    <img id="question-image" src="" alt="" class="img-fluid rounded d-none mb-3" style="max-height: 200px;">
                </div>

                <!-- Options Container -->
                <div id="options-container" class="card-body pt-0">
                    <div class="row g-3">
                        <!-- Options will be inserted here by JavaScript -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
