{% extends "base.html" %}

{% block meta %}
    {% include "game/header_meta.html" %}
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename=game.style) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game-toolbox.css') }}">
{% endblock %}


{% block scripts %}
    <script>
        var baseUrl = "/api/quiz";
    </script>

    <script src="{{ url_for('static', filename='js/game-toolbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script src="{{ url_for('static', filename=game.script) }}"></script>
{% endblock %}


{% block main %}
    {% include "elements/audio.html" %}

    <!-- Navbar -->
    {% include "game/navbar.html" %}

    <!-- Game Toolbox -->
    {% include "game/toolbox.html" %}

    
    <div id="loading" class="text-center my-5" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p class="mt-2">Loading question...</p>
    </div>
     

    <!-- Game Content -->
    <div id="start-screen" class="d-flex justify-content-center my-5 bg-light">
        {% include "game/start_screen.html" %}
    </div>


    <div id="game-screen" style="display: none;">
        {% block game %}{% endblock %}
    </div>

    <div id="game-footer" style="display: none;">
        {% include "game/footer.html" %}
    </div>

{% endblock %}